@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
.container-fluid { 
	overflow: hidden; 
    margin:0;
   padding:0;
}

#titlebit {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom:0;
   background: rgba(0, 0, 0, 0);

  
        
}

#toptext{
    position:relative;
    left: 5%;
    width: 90%;   
    text-align: left;
 background-color:rgba(0,0,0, 0)}

#toptext h1{
    text-align: left;
    color: white;
      font-weight: 600;

}

#spacerbit{
    margin-bottom:0;
   padding-top:0;
    background-color: #484848;
   padding-bottom:.5em;
}


#endbit {
    position:relative;
    width:100%;
   margin:0; 
    padding-bottom:1em;
   padding-top:0;
  background-image: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0, .9));
            
}

#visrow {
    background-color:   background-color: rgba(0,0,0, .5);
;
    
    
}
.svg-container { 
    width:100%;
	display: inline-block;
    height: 222%; 
	vertical-align: middle; 
	overflow: hidden; 
    position: relative;
        background-image: linear-gradient(to right, rgba(0,0,0, .01), rgba(0,0,0, .01))


}


.svg-content { 
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
    background-color: rgba(0,0,0, 0);
}


.paddingbox{
        width:100%;
    position:relative;
    background-color: rgba(0,0,0, 0);
    padding-bottom: 100%; 
    padding: 0
}


#map { 
      width:100%;
      position: relative;
      padding-bottom: 100%; 
     }


.tablebox{
    width: 100%;
   padding-bottom: 10; 
        background-image: linear-gradient(to right, rgba(0,0,0, .01), rgba(0,0,0, .01))

}

.tablediv{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
       padding-bottom: 10; 

    background-color: rgba(0,0,0, 0);

}


@media screen and (min-width: 635px) {

#toptext{
    position:relative;
    left:10%;
    width:80%;   
    text-align: left;
}
    
    
.svg-container {  height: calc(100vh); 
                  overflow-y: scroll;
                  width: max(calc(45vh - 25.2px), 25%)
               }
    
    
.paddingbox{
    background-color: rgba(0,0,0, 0);
    width: min(calc(100% - 45vh + 25.2px), 75%);
     height: calc(100vh );
    padding-bottom: calc(100vh );
}
    
    
#map { 
      position: relative;
      width: 100%;
              padding-bottom: calc(100vh )

     }
    

}

@media screen and (min-width: 1238px) {
   
    
#toptext{
    position:relative;
    left: 25%;
    width: 50%;   
    text-align: left;
}
    
.svg-container {height: max(55.55%, calc(100vh )); 
                   height: calc(100vh );
                  overflow-y: scroll;
               }  
    
.paddingbox{
   background-color: rgba(0,0,0, 0);
      width: 48%;
     height: calc(100vh );
      padding-bottom: calc(100vh );
   }    
    
#map { 
      position: relative;
      width: 100%;
      padding-bottom: calc(100vh )

     }
    
.tablebox{
     width: min(calc( 52% - 45vh + 25px), 27%);
     height: calc(100vh ); 
     overflow-y: scroll;
   }  
    
.tablediv{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10; 
    
 }
    
}





#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;
           z-index: 1000;

        }

#tooltip2 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;
               z-index: 1000;


        }




.countynames{
     font-family: 'Open Sans', sans-serif;
     font-size: 48px;
     text-anchor: middle;
     dominant-baseline: middle ;
    
}


.tractnames{
     font-family: 'Open Sans', sans-serif;
     font-size: 40px;
     text-anchor: end;
     dominant-baseline: middle;
    
}


.countylines {
  fill: none;
  stroke: black;
  stroke-width: 2px;

}

.dimensions{
         font-family: 'Open Sans', sans-serif;
     font-size: 40px;
    
    
}

.leaflet-zoom-animated{
    pointer-events:visible; 
}






.rowtitles{
    font-weight: 600;
    
}

#tableheader{
    position:relative;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
        background-color: rgba(0,0,0, 0);

}
    

#tablecolumn h1{
   font-size: 20px;
font-weight: 600;
    color:black;
    
}

#tableheader h3{
   font-size: 15px;
   
    
}



.tablecontent{
    position:relative;
    padding-right: 5px;
    padding-left: 5px;   
        font-size: 13px;

}


.variables {
    position:relative;
    padding-right: 20px;
    padding-left: 20px; 
    
}

.tablecontent td, .tablecontent th {
    padding: .4em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.variables td, .variables th {
    padding: .2em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}



 h3{
    text-align: center;
    font-size: 20px;
    
}

h2{text-align:center;
    font-weight: bold;
    
}



#Exitbutton {
    position:absolute;
    width: 100px;
    left: calc(50% - 50px);
    
}

.open{
   height: 90%; 
}

.closed{
    visibility: hidden;
    height:0%;
}



#methods{
    position: fixed;
    left:1%;
    top: calc(2vh);
    width: 98%;
    height: 96vh;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: .95;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    overflow-y: scroll;
    border-radius: 10px;
   border: 3px solid #292b2c;
    z-index: 1000;
}

#sdoh {
    position: fixed;
    width: 25%;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: .95;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    border-radius: 10px;
   border: 3px solid #292b2c;
    z-index: 1000;

}

@media screen and (max-width: 635px) {
     #methods{
  padding: 20px;
    }  
    
#sdoh {
    position: absolute;
    top: 5vh;
    right:2%;
    width: 25%;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: .95;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    border-radius: 10px;
   border: 3px solid #292b2c;
    z-index: 1000;

}
    
    
    
    
    
    
}















#colorswitcherdiv {
    position: absolute;
    left:27.78%;
    width: 31.11%;  
    margin: 0;
    padding-bottom:0;
    padding-top: calc(23.05%);
    top: 0;
    height: 1
        
}

#colorswitcher{
    position:relative;
    top:0;
    width: 100%;
    margin:0;
    padding-top: 1px;
    padding-bottom:1px;
    vertical-align:top;
}

.checks {
    position: absolute;
    top: 0;
    width: 14.28%;
    padding-left:0;
    padding-top:0;
    padding-right:0;
    padding-top: 10%;
    padding-bottom:0;
    margin:0;
    vertical-align: middle;

    
}



#enterbutton {
    position:absolute;
    width: 300px;
    left: calc(50% - 150px);

}

#tableheader p {
    font-size: 15px;    
}

#backgroundimage {
    position: relative; 
    width: 100%;  
}

#backgroundimage::before {
    content: "";
      background-image:
    linear-gradient(
               rgba(35, 45, 75, .97),

                rgba(35, 45, 75, .97)

    ),
     url(backgroundmap.png); 
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .95;
}

#toptext p {
    color:white;
    
}

#navbar {
    background-color: rgba(0,0,0, 1),
        color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width:thin;

}

#backgroundcolor {
  background-color: linear-gradient(
      rgba(0,0,0, 1),
        rgba(35, 45, 75, 1));
    
}



.dropdown {
        background-color: rgba(0,0,0, 0),
}

#dropdownMenu2 {
    border-style: solid;
    border-color:white;
}

#stationary {
    position:fixed;
}

#backgroundimage2{
    width:100%;
            position: relative; 

}

#backgroundimage2::before{
    content: "";
      background-image:
    linear-gradient(
            rgba(35, 45, 75, .95)
              rgba(0,0,0, .95),
    ),
     url(backgroundmap.png); 
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .95;
}


#bottomtext {
    position: relative;
    left: 10%;
    width: 80%;   
    text-align: left;
    background-color: rgba(0,0,0,0);
}


#bottomtext p {

    color:white;
    

}

#tablecolumn {
        position:relative;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
        background-color: rgba(0,0,0, 0);
}

h6 {
    font-size:15px;
}

#tableheader {
line-height:15px;
}

.popove{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    
}


