@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mandali&display=swap');

body {
    font-family: 'Asap', sans-serif;
    padding-top: 56px;
}

.container-fluid { 
	overflow: hidden; 
    margin:0;
padding:0;
}

.svg-container { 
    width:100%;
	display: inline-block;
    height: 222%; 
	vertical-align: middle; 
	overflow: hidden; 
    background-color: ghostwhite;
    position: relative;

}


.svg-content { 
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
    background-color: ghostwhite;
}


.paddingbox{
        width:100%;
    background-color: relative; 
    padding-bottom: 100%; 
    padding: 0

}


#map { 
      width:100%;
      position: relative;
      padding-bottom: 100%; 
     }


.tablebox{
    width: 100%;
   padding-bottom: 10; 
    background-color: ghostwhite;

}

.tablediv{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
       padding-bottom: 10; 

    background-color: ghostwhite;

}


@media screen and (min-width: 635px) {

.svg-container {  height: calc(100vh - 56px); 
                  overflow-y: scroll;
                  width: max(calc(45vh - 25.2px), 25%)
               }
    
    
.paddingbox{
    background-color: floralwhite; 
      width: max(300px, 48%);
    height: calc(100vh - 56px);
    padding-bottom: 0px;
}
    
#map { 
      position: fixed;
      top: 56;
      padding-bottom: calc(100vh - 56px);
      width: min(calc(100% - 45vh + 25.2px), 75%);
     }


}


@media screen and (min-width: 1238px) {
    
    #map { 
      position: fixed;
      top: 56;
      padding-bottom: calc(100vh - 56px);
      width: 48%;
     }
    
  .svg-container {  height: max(55.55%, calc(100vh - 56px)); 
                   height: calc(100vh - 56px);
                  overflow-y: scroll;
               }  
    
 .tablebox{
     width: min(calc( 52% - 45vh + 25px), 27%);
     height: calc(100vh - 56px); 
      overflow-y: scroll;
   }  
 
    
.tablediv{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
       padding-bottom: 10; 

    background-color: ghostwhite;
    
    
 }
    

    
}





#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;
           z-index: 1000;

        }

#tooltip2 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;
               z-index: 1000;


        }




.countynames{
     font-family: 'Asap', sans-serif;
     font-size: 48px;
     text-anchor: middle;
     dominant-baseline: middle ;
    
}


.tractnames{
     font-family: 'Asap', sans-serif;
     font-size: 40px;
     text-anchor: end;
     dominant-baseline: middle;
    
}


.countylines {
  fill: none;
  stroke: black;
  stroke-width: 2px;

}

.dimensions{
         font-family: 'Asap', sans-serif;
     font-size: 40px;
    
    
}

.leaflet-zoom-animated{
    pointer-events:visible; 
}






.rowtitles{
    font-weight: bold;
    
}

#tableheader{
    position:relative;
    text-align: center;
    
      
}



#tableheader h1{
   font-size: 20px;
    
}

#tableheader h3{
   font-size: 15px;
   
    
}

#tableheader a{
    color: darkgrey;
    
}

.tablecontent{
    position:relative;
    padding-right: 5px;
    padding-left: 5px;   
        font-size: 13px;

}


.variables {
    position:relative;
    padding-right: 5px;
    padding-left: 5px; 
    font-size: 13px;

    
}

.tablecontent td, .tablecontent th {
    padding: .4em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.variables td, .variables th {
    padding: .2em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}



 h3{
    text-align: center;
    font-size: 20px;
    
}

h2{text-align:center;
    font-weight: bold;
    
}



#Exitbutton {
    position:absolute;
    width: 100px;
    left: calc(50% - 50px);
    
    
}

.open{
   height: 90%; 
}

.closed{
    visibility: hidden;
    height:0%;
}



#methods{
    position: absolute;
    left:1%;
    top: calc(56px + 1%);
    width: 98%;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: .95;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    overflow-y: scroll;
    border-radius: 10px;
  border: 3px solid #292b2c;
    z-index: 1000;
}

@media screen and (max-width: 635px) {
     #methods{
  padding: 20px;
    }
    
}

#colorswitcherdiv {
    position: absolute;
    left:27.78%;
    width: 31.11%;  
    margin: 0;
    padding-bottom:0;
    padding-top: calc(18.0%);
    top: 0;
    height: 1
        
}

#colorswitcher{
    position:relative;
    top:0;
    width: 100%;
    margin:0;
    padding-top: 1px;
    padding-bottom:1px;
    vertical-align:top;
}

.checks {
    position: absolute;
    top: 0;
    width: 14.28%;
    padding-left:0;
    padding-top:0;
    padding-right:0;
    padding-top: 10%;
    padding-bottom:0;
    margin:0;
    vertical-align: middle;

    
}

